<div class="feed-categories">
    <a href="/posts/category/academics" class="category-tab">Academics</a>
    <a href="/posts/category/events" class="category-tab">Events</a>
    <a href="/posts/category/sports" class="category-tab">Sports</a>
    <a href="/posts/category/clubs" class="category-tab">Clubs</a>
</div>
